<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="RailwayTicketingDB" connectionString ="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RailwayTicketingDB;Integrated Security=True"/>
		<add name ="passengerFile" connectionString ="..\..\..\..\DAL\Files\passengers.txt"/>
		<add name ="ticketFile" connectionString ="..\..\..\..\DAL\Files\tickets.txt"/>
		<add name ="trainFile" connectionString ="..\..\..\..\DAL\Files\trains.txt"/>

		<add name ="RailwayTicketingEF" connectionString ="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RailwayTicketingEF;Integrated Security=True"/>
	</connectionStrings>
</configuration>